.page-headline {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 5px 10px 0 rgba(60, 194, 235, 0.5);
    border: 1px solid;
}

.main-contents {
    width: 80%;
    margin: 0 auto;
}

.info-card {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(60, 194, 235, 0.5);
}